<nav class="navbar navbar-expand-sm  bg-navbar-yellow">
        <!-- Brand -->
        <a class="navbar-brand color-link" href="/dashboard"><img id="logo" class=".grayscale" src="/img/PawLogo.png">Petshop</a>
      
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle color-link" href="#" id="navbardrop" data-toggle="dropdown">
                    Departamentos
                </a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/cachorro">Cachorro</a>
                <a class="dropdown-item" href="#Gato">Gato</a>
                <a class="dropdown-item" href="#Passaros">Pássaros</a>
                <a class="dropdown-item" href="#Roedores">Roedores</a>
                <a class="dropdown-item" href="#Aquarismo">Aquarismo</a>
                <a class="dropdown-item" href="#Dinossauros">Dinossauros</a>
                </div>
            </li>

            <form style="margin-left: 7em;" id="searchbar-custom" class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
                <button class="btn btn-dark" type="submit">Pesquisar</button>
            </form>

            <li id="shoppingkart" class="nav-item navbar-icons">
                <a href="#Carrinho" class="color-link"><img src="/img/shopping-cart.png"></a>
            </li>
            
            <li id="user_login" class="nav-item navbar-icons">
                <a href="#" class="color-link disabled">Bem vindo, <%= name %></a>
            </li>
        </ul>
    </nav>

<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              <i class="fas fa-user-plus"></i> Agendar Serviço
            </h1>
            <%- include('partials/messages'); %>
            <form action="/services/schedule-service" method="POST">
              <div class="form-group">
                <label for="petname">Nome do Pet</label>
                <input
                  type="petname"
                  id="petname"
                  name="petname"
                  class="form-control"
                  placeholder="Inserir nome"
                  value="<%= typeof petname != 'undefined' ? petname : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="email">Espécie do Pet</label>
                <select class="form-control" name="species" id="species" type="species">
                    <option value="Cachorro">Cachorro</option>
                    <option value="Gato">Gato</option>
                    <option value="Pássaro">Pássaro</option>
                    <option value="Roedor">Roedor</option>
                    <option value="Peixe">Peixe</option>
                    <option value="Dinossauro">Dinossauro</option>
                </select>
                <!-- <input
                  type="species"
                  id="species"
                  name="species"
                  class="form-control"
                  placeholder="Escolher espécie"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                /> -->
              </div>
              <div class="form-group">
                  <label for="servicetype">Serviço a ser realizado:</label>
                  <select class="form-control" name="servicetype" id="servicetype" type="servicetype">
                      <option value="Consulta Médica">Consulta Médica</option>
                      <option value="Tosa">Tosa</option>
                      <option value="Banho">Banho</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="servicedate">Escolher data:</label>
                  <input class="form-control" id="servicedate" type="date" name="servicedate" id="servicedate" required="" value="<%= typeof servicedate != 'undefined' ? servicedate : '' %>">
              </div>
              <div class="form-group">
                  <label for="servicetime">Escolher horario:</label>
                  <select class="form-control" name="servicetime" id="servicetime" type="servicetime">
                      <option value="09:00-10:00">09:00-10:00</option>
                      <option value="10:00-11:00">10:00-11:00</option>
                      <option value="11:00-12:00">11:00-12:00</option>
                      <option value="12:00-13:00">12:00-13:00</option>
                      <option value="13:00-14:00">13:00-14:00</option>
                      <option value="14:00-15:00">14:00-15:00</option>
                      <option value="15:00-16:00">15:00-16:00</option>
                      <option value="16:00-17:00">16:00-17:00</option>
                  </select>
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Agendar
              </button>
            </form>
          </div>
        </div>
      </div>