<nav class="navbar navbar-expand-sm  bg-navbar-yellow">
        <!-- Brand -->
    <a class="navbar-brand color-link" href="/dashboard"><img id="logo" class=".grayscale" src="/img/PawLogo.png">Petshop</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle color-link" href="#" id="navbardrop" data-toggle="dropdown">
                Departamentos
            </a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/cachorro">Cachorro</a>
            <a class="dropdown-item" href="#Gato">Gato</a>
            <a class="dropdown-item" href="#Passaros">Pássaros</a>
            <a class="dropdown-item" href="#Roedores">Roedores</a>
            <a class="dropdown-item" href="#Aquarismo">Aquarismo</a>
            <a class="dropdown-item" href="#Dinossauros">Dinossauros</a>
            </div>
        </li>

        <form style="margin-left: 7em;" id="searchbar-custom" class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
            <button class="btn btn-dark" type="submit">Pesquisar</button>
        </form>

        <li id="shoppingkart" class="nav-item navbar-icons">
            <a href="#Carrinho" class="color-link"><img src="/img/shopping-cart.png"></a>
        </li>
        
        <li id="user_login" class="nav-item navbar-icons">
            <a href="#" class="color-link disabled">Bem vindo, <%= name %></a>
        </li>
    </ul>
</nav>

<div id="services-panel">
    <h1 class="centralize">Serviços Agendados:</h1>
    <hr>
    <% data.forEach(function(service){  %>
        <ul class="list-group" style="width: 20%;">
          <li class="list-group-item centralize">Nome do pet: <%= service.petname %></li>
          <li class="list-group-item centralize">Espécie: <%= service.species %></li>
          <li class="list-group-item centralize">Tipo de serviço: <%= service.servicetype %></li>
          <li class="list-group-item centralize">Data: <%= service.servicedate %></li>
          <li class="list-group-item centralize">Horário: <%= service.servicetime %></li>
          <li class="list-group-item centralize"><%= service.user_id %></li>
          <li class="list-group-item centralize">
            <button type="button" class="btn btn-danger">
                CANCELAR
            </button>
          </li>
        </ul>
    <%})%>
</div>